<!DOCTYPE html>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="../../hover.css">
    <div class="ui inverted segment" style="margin-top:-5px">
        <div class="ui inverted secondary menu">
          <a href="/" class="active item">
            Home
          </a>
          <a href="/students_list"  class="item">
            students list
          </a>
        </div>
      </div>