<%- include("partials/header")%>
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../hover.css">
    <body style="background-image: linear-gradient(red,black);">
        <title>
            student-entry
        </title>
       <div class="ui container" style="text-align: center;">
         <h1 class="hvr-bounce-out" style="color: white;font-size: 50px;margin-top: 15%;" >Add students</h1>
         <a href="/entry">
         <button class="ui large black button">Click here </button>
         </a> 
        </div>
    </body>
</html>
<%- include("partials/footer") %>